@import "../../style/vars";

.button {
  padding: 0.5em 1em;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 2em;
  color: $font-light;
  background-color: $color-blue;
  transform: scale(1);
  transition: all 300ms;

  &:hover {
    background-color: $color-green;
    transform: scale(1.02);
    transition: all 300ms;
  }
}

.green {
  background-color: $color-green;
  color: $font-light;
}

.grey {
  background-color: $color-lightGrey;
  color: $font-light;
}
