@import '../../style/vars';

.satisfactionapp__tabs {

  width: 100%;
  display: flex;
  justify-content: space-between;

  &__wrapper {
    width: 100%;
  }

  &__tab {
    color: $font-grey;

    &.--active {
      border-bottom: 2px solid blue;
      color: $font-dark;
    }
  }
}
